<h1>About me</h1>
<p>I graduated in Biological Sciences at the Universidade Estadual de Feira de Santana (State University), currently a Master Degree in Bioinformatics at Universidade Federal de Minas Gerais (Federal University).</p>
<p>I am self-taught programmer. I started with Pascal in 2002, moved to programming in C, and in 2020 I started learning Rust.</p>
<p>I have interest in operating system development and game development.</p>
<h2>Social media profiles</h2>
<ul>
    <li>Twitter: <a target="_blank" href="https://twitter.com/dasifefe" rel="me">@dasifefe</a></li>
    <li>Mastodon Social: <a target="_blank" href="https://mastodon.social/web/accounts/1084473" rel="me">@dasifefe</a></li>
    <li>Mastodon Scholar: <a target="_blank" href="https://mastodon.art/web/accounts/272898" rel="me">@dasifefe</a></li>
    <li>Mastodon FOSS: <a target="_blank" href="https://fosstodon.org/web/accounts/226415" rel="me">@dasifefe</a></li>
    <li>Mastodon Game Development: <a target="_blank" href="https://mastodon.gamedev.place/web/accounts/139783" rel="me">@dasifefe</a></li>
    <li>Mastodon Art: <a target="_blank" href="https://mastodon.art/web/accounts/272898" rel="me">@dasifefe</a></li>
</ul>
<h2>Open source repositories</h2>
<ul>
    <li>GitHub: <a target="_blank" href="https://github.com/dasifefe" rel="me">@dasifefe</a></li>
</ul>
<h2>Research profiles</h2>
<ul>
    <li>ORCID: <a target="_blank" href="https://github.com/dasifefe" rel="me">http://orcid.org/0000-0002-3920-3396</a></li>
</ul>
